<form action="/parcels" method="post">
  <div class="form-group">
    <label for="side_a">Side A length</label>
    <input id="a" name="side_a" class="form-control" type="number">
    <label for="side_b">Side B length</label>
    <input id="b" name="side_b" class="form-control" type="number">
    <label for="side_c">Side C length</label>
    <input id="c" name="side_c" class="form-control" type="number">
    <label for="weight">Weight in pounds</label>
    <input id="d" name="weight" class="form-control" type="number">
    <label for="ship">Weight in pounds</label>
    <select id="e" name="ship" class="form-control form-control-sm">
      <option value="standard">Standard</option>
      <option value="priority">Priority</option>
      <option value="overnight">Overnight</option>
    </select>

  </div>
  <button type="submit" class="btn">Go!</button>
</form>
